details a {
    text-decoration: none;
    opacity: 0.85;
    transition: opacity 0.2s ease;
}

details a:hover {
    text-decoration: underline;
    opacity: 1;
}

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(80px);
}

/* add for picture render effect to avoid it revealing from top to bottom */
img {
    opacity: 0;
    transition: opacity 0.4s ease;
}

img.loaded {
    opacity: 1;
}
